<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
	
  <link rel="stylesheet" data-ignore="ignore" href="css/vendor/ink.css">

  <link rel="stylesheet" href="css/styles.css">

</head>
<body>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
        <center>

          <table class="row header">
            <tr>
              <td class="center" align="center">
                <center>

                  <table class="container">
                    <tr>
                      <td class="wrapper last">

                        <table class="two columns">
                          <tr>
                            <td class="twelve sub-columns">
                              <!-- <img src="/images/logo-white-no-bg.png"> -->
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                </center>
              </td>
            </tr>
          </table>

          <!-- <br> -->

          <table class="container body-content">
            <tr>
              <td>

                <!-- content start -->
                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td>
                            <% include partials/headline.ejs %><br>

                            <p>When Republicans in Congress took off on their early vacation in August, they left behind a LOT of unfinished business. </p>
                            <a href="#">And we want your input: As Congress gets back to work this week, what should we tell your Representative to focus on most?</a>

                            <br><br>

                            <% include partials/survey.ejs %><br>

                            <p>Congress is back in town today, and it’s time to get to work.</p>

                            <p>And unlike the GOP, which is beholden to their billionaire donors, Democrats rely on YOU.</p>

                            <p>That’s why we want to hear from you. We want to hear what issues YOU are focusing on these days, and what issues you want the DCCC to get to work on.</p>

                            <a href="#">Will you take 1 minute out of your day? Take our four-question survey and tell us what Congress should focus on -- and what we should focus on here at the DCCC.</a>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                      <% include partials/signer.ejs %>

                  <!--   <a href="http://www.google.com">
                      <table class="twelve columns">
                        <tr>
                          <td class="panel">
                              <p><strong>NAME: Julia Ager</strong></p>
                              <p><strong>Suggested Action: <a class="underline" href="http://www.google.com">Pitch in $5.00 to the Protect the President Fund >></a></strong></p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </a> -->

                  </td>
                </tr>
              </table>

              <br>  <!-- Break Tag for row -->

              <!-- <table class="row">
                <tr>
                  <td class="wrapper">

                    <table class="six columns">
                      <tr>
                        <td>

                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.</p>

                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.</p>

                          <table class="medium-button">
                            <tr>
                              <td>
                                <a href="http://www.google.com">Click Me!</a>
                              </td>
                            </tr>
                          </table>

                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                  <td class="wrapper last">

                    <table class="six columns">
                      <tr>
                        <td class="panel">
                          <h6>Header Thing</h6>
                          <p>Sub-head or something</p>
                          <table>
                              <tr>
                                <td>
                                  <a href="http://www.google.com">Just a Plain Link &raquo;</a>
                                </td>
                              </tr>
                            </table>
                            <hr>
                            <table>
                              <tr>
                                <td>
                                  <a href="http://www.google.com">Just a Plain Link &raquo;</a>
                                </td>
                              </tr>
                            </table>
                            <hr>
                            <table>
                              <tr>
                                <td>
                                  <a href="http://www.google.com">Just a Plain Link &raquo;</a>
                                </td>
                              </tr>
                            </table>
                            <hr>
                            <table>
                              <tr>
                                <td>
                                  <a href="http://www.google.com">Just a Plain Link &raquo;</a>
                                </td>
                              </tr>
                            </table>
                            <hr>
                            <table>
                              <tr>
                                <td>
                                  <a href="http://www.google.com">Just a Plain Link &raquo;</a>
                                </td>
                              </tr>
                            </table>
                            <hr>
                            <table>
                              <tr>
                                <td>
                                  <a href="http://www.google.com">Just a Plain Link &raquo;</a>
                                </td>
                              </tr>
                            </table>
                            <hr>
                            <table>
                              <tr>
                                <td>
                                  <a href="http://www.google.com">Just a Plain Link &raquo;</a>
                                </td>
                              </tr>
                            </table>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                    <br>
                    <table class="six columns">
                      <tr>
                        <td class="panel">
                          <h6 style="margin-bottom:5px;">Connect With Us:</h6>
                          <table class="tiny-medium-button facebook">
                              <tr>
                                <td>
                                  <a href="http://www.google.com">Facebook</a>
                                </td>
                              </tr>
                            </table>

                            <hr>

                            <table class="tiny-medium-button twitter">
                              <tr>
                                <td>
                                  <a href="http://www.google.com">Twitter</a>
                                </td>
                              </tr>
                            </table>

                            <hr>

                            <table class="tiny-medium-button google-plus">
                              <tr>
                                <td>
                                  <a href="http://www.google.com">Google +</a>
                                </td>
                              </tr>
                            </table>
                          <br>
                          <h6 style="margin-bottom:5px;">Contact Info:</h6>
                          <p>Phone: <b>408.341.0600</b></p>
                          <p>Email: <a href="mailto:hseldon@trantor.com">hseldon@trantor.com</a></p>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table> -->
              <br>
              <br>
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <!-- Legal + Unsubscribe -->
              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td align="center">
                         <center>
                          <table align="center" border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <div align="center" style="border: 1px solid #696969; padding: 3px; font-size: 10px; text-align: center; font-family:Tahoma, Verdana, Segoe, sans-serif; color: #696969;">
                                    <center><font face="Tahoma, Verdana, Segoe, sans-serif;">Paid for by the Democratic Congressional Campaign Committee | 430 South Capitol Street SE, Washington, DC 20003 | <a href="http://dccc.org/contact/" name="FOOTER_Contact" style="color: #696969; text-decoration: none;" xt="SPNOTRACK">(202) 863-1500</a> | www.dccc.org | Not authorized by any candidate or candidate&#39;s committee.</font></center>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          &nbsp;

                          <div style="font-size:8.5px; color: #696969; "><font face="Tahoma, Verdana, Segoe, sans-serif;">This message was sent to: <a href="http://action.dccc.org/page/s/get-updates" name="FOOTER_GetUpdates" style="color: #000000; text-decoration: none; font-weight:bold;" xt="SPNOTRACK">%%EMAIL%%</a> | If you&#39;d like to sign up for emails in a different account, click <a href="http://action.dccc.org/page/s/get-updates" name="FOOTER_DifferentAccount" style="color: #000000; text-decoration: none;" xt="SPNOTRACK">here</a>.<br />
                            <br />
                            We believe that emails are a crucial way for our campaign to stay in touch with supporters. However, if you&#39;d just like to receive fewer emails, you can click <a href="http://action.dccc.org/page/s/dccc-e-mail-options?m=%%MAILING_ID%%&r=%%RECIPIENT_ID%%&j=%%JOB_ID_CODE%%&l=%%LIST_ID%%&e=%%EMAIL%%" name="FOOTER_FewerEmails" style="color: #000000; text-decoration: none;" xt="SPNOTRACK">here</a>.<br />
                            <br />
                            We are already at work preparing for what&#39;s next. Early support will be critical for building our next campaign to defeat Tea Party Republicans. 99% of our contributions come from grassroots donations, with an average gift of $22. If you&#39;d like to unsubscribe from DCCC emails, click <a href="http://action.dccc.org/page/s/dccc-e-mail-options?m=%%MAILING_ID%%&r=%%RECIPIENT_ID%%&j=%%JOB_ID_CODE%%&l=%%LIST_ID%%&e=%%EMAIL%%" name="FOOTER_Unsubscribe" style="color: #000000; text-decoration: none;" xt="SPNOTRACK">here</a>. If you&#39;d like to make an online donation, click <a href="https://secure.actblue.com/contribute/page/dcccactblue?amount=25&recurring=true" name="FOOTER_Donate" style="color: #000000; text-decoration: none;" xt="SPNOTRACK">here</a>. Thanks for your support of Democrats!</font></div>
                          </center>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

              <!-- container end below -->
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
</body>
</html>